---
import BaseLayout from "../layouts/base-layout.astro";
import Card from "../components/card.astro";
import Jumbotron from "../components/jumbotron.astro";

const posts = await Astro.glob('../pages/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
import Search from '../components/Search';

import { Image } from "astro:assets"
import googleLogo from "../assets/Google_Domains_logo.svg"
import astroLogo from "../assets/astro-logo.svg"
import githubMark from "../assets/GitHub-Mark-64px.png"
import githubLogo from "../assets/GitHub_Logo.png"
---
<BaseLayout title="Home">
    <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 pb-14 text-zinc-700">

      <Jumbotron></Jumbotron>

      <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 pb-20 text-zinc-700">
        <Search client:load searchList={posts} class="pb-12"></Search>
      </div>
      

      {posts.map(post=> (
        <div class="flex justify-center pb-12 last:pb-0">
            <Card title={post.frontmatter.title} path={post.url} image={post.frontmatter.image} date={post.frontmatter.date} excerpt={post.frontmatter.excerpt}></Card>
        </div>
      ))}
	</div>
</BaseLayout>