---
import BaseLayout from "../layouts/base-layout.astro";
import Card from "../components/card.astro";
const posts = await Astro.glob('../pages/*.md');
---
<BaseLayout title="Home">
    <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 py-14 text-zinc-700">

      
      <div class="text-lg text-center text-[#b1bac4]">
        <p>Website created by David Jaimes and powered by</p>
        <div class="flex justify-center pt-4 pb-16 flex-wrap">
          <img class="h-8 w-50 pr-6" alt="Google Domains Logo" src="Google_Domains_logo.svg">
          <img class="h-8 w-50 pr-6" alt="Gatsby Logo" src="astro-logo.svg">
          <img class="h-7 w-38" alt="Github Logo" src="GitHub-Mark-64px.png">
          <img class="h-7 w-38" alt="Github Logo" src="GitHub_Logo.png">
        </div>
      </div>

      {posts.map(post=> (
        <div class="flex justify-center pb-12 last:pb-0">
            <Card title={post.frontmatter.title} path={post.url} image={post.frontmatter.image} date={post.frontmatter.date} excerpt={post.frontmatter.excerpt}></Card>
        </div>
      ))}
	</div>
</BaseLayout>